{% extends "base.html" %}
    {% block content %}
        <h3 class="teal-text text-darken-4 center-align text-shadow">Service Record</h3>
        
        <div class="row">
        
            <div class="col s12 m6 offset-m3">
                {{ record.reg_no }}
            </div>
        
        </div>
        <div class="row">
        
            <div class="col s12 m6 offset-m3">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card-panel grey ">
                            <h5>Service Details</h5>
                            <p>{{ record.username }}</p>
                            <p>{{ record.service_date }}</p>
                            <p>€ {{ record.service_cost }}</p>
                            <p>{{ record._paid }}</p>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card-panel grey ">
                            <h5>Car Details</h5>
                            <p>{{ record.car_make }} {{ record.car_model }}</p>
                            <p>{{ record.reg_no }}</p>
                            <p>{{ record.odometer_reading }}</p>
                            
                        </div>
                    </div>
                    <div class="row">
                    <div class="col s12 s12">
                        <div class="card-panel grey ">
                            <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively. I am similar to what is
                                called a panel in other frameworks.
                            </span>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col s4 m4">
                        <div class="card-panel">
                            <p>placeholder - back button</p>
                        </div>
                    </div>
                    <div class="col s4 m4">
                        <div class="card-panel">
                            <p>placeholder - edit button</p>
                        </div>
                    </div>
                    <div class="col s4 m4">
                        <div class="card-panel">
                            <p>placeholder - delete button</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    {% endblock %}