{% extends "base.html" %}
{% block content %}
<h3 class="teal-text text-darken-2 center-align text-shadow">Car Maintenance Tracker</h3>

<div class="row">
    {% for cars in user_cars %}
        <div class="col s12 m6 offset-m3">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-chevron-down teal-text text-darken-2"></i>
                        <div class="col m4 s6">
                            <h6>Logs for {{cars.reg_no }}</h6>
                        </div>
                        <div class="col m4 s3">
                            <h6>{{cars.make }}</h6>
                        </div>
                        <div class="col m4 s3">
                            <h6>{{cars.model }}</h6>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        {% for log in logs %}
                        {% if log.reg_no == cars.reg_no %}

                        <ul class="collapsible popout">
                            <li>
                                <div class="row">
                                    <div class="col m4">
                                        {{ logs[loop.index0].service_date }}
                                    </div>
                                    <div class="col m2">
                                        € {{ logs[loop.index0].service_cost }}
                                    </div>
                                    <div class="col m2">
                                        {% if logs[loop.index0].service_paid == "no" %}
                                    <span class="red-text">Unpaid</span>
                               {% else %}
                                    <span>Paid</span>
                               {% endif %}
                                    </div>
                                    <div class="col m4">
                                        <a href="{{ url_for('detailed_record', record_id=logs[loop.index0]._id) }}" class="btn-small teal darken-2">Details</a>
                                    </div>
                                </div>
                                
                                
                            </li>
                        </ul>
                                    

                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}