
{% extends "base.html" %}
    {% block content %}

        <h3 class="center-align">User Profile</h3>
        
        <div class="row">
            <div class="col s12 m6 offset-m3" method="POST" action="{{ url_for('userprofile') }}">
                <div class="card-panel teal white-text ">
                    <h6 class="center-align">You are logged in with the following profile;</h6>
                    <ul>
                        <li>Name > {{ name }}</li>
                        <li>Username > {{ username }}'s Profile</li>
                    </ul>
                </div>    
            </div>
        </div>
    
    {% endblock %}